

/*przesuwanie sliderow na rangu */

.draggable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    cursor: pointer;
}


/*ukrywanie i pokazywanie slajdów i czasów lub identyfikatorów sliderów odpowiedzialnych za ramy czasu*/
.slider div{
	background:#212F35;
	visibility:hidden;
	position:relative;
    right:65px;
    top:30px;
    display:block;
    margin:auto;
    text-align:center
}
.slider:hover div{
    visibility:visible
}

/*Szczególy wyglądu okienka po najechaniu na slider*/
.slider .underSlider{
	width:150px;
	height:100px;
	color:white;
	z-index:1;
}
.slider .underSliderTime{
	width:150px;
	height:65px;
	z-index:1;
}

.slider div img{
   padding-top:5px;
}

.slider .timeSlider{
	position:relative;
	bottom: 15px;
}

/*wyglad okienka pod multirangem edytora*/
.windows{
	width: 1100px;
	height: 330px;
	background:#F7FBFF;
	margin:0px auto;
	overflow:hidden;
	position: relative;
}

/* wyglad przyciskow do przewijania listy w okienku windows*/
.up{
	position:relative;
}

.down{
	position:relative;
}

.rightbuttonlist{
	float:right;
	bottom:33px;
	right:35px;
}

.leftbuttonlist{
	float:left;
}

/*Wyglad slajdow w okienku windows*/
.slajd{
	float:left;
	margin: 18px;
	list-style: none;
	 border-style:solid;
	 border-width:3px;
}

.windows_div{
	width:140px;
	height:70px;
	position:relative;
}

.obrazek_windows{
	position:relative;
	z-index: 2;
}

.ControlPanel{
	width:140px;
	height:70px;
	position:relative;
	background-color:#000000;
	opacity:0.6;
	bottom:78px;
	z-index: 1;
}

.ControlPanelItems{
	width:140px;
	height:70px;
	position:relative;
	bottom:148px;
	z-index: 1;
}

/*Wyglady textboxow i checkboxow w okienku*/
.windows_element1{
	position:relative;
	left:0px;
	font-size:14px;
	color:white;
}

.windows_element2{
	position:relative;
	left:30px;
	font-size:14px;
	color:white;
	bottom: 8px;
}

.checkbox{
	position:relative;
	top:2px;
	left:0px
}
/* Tło MultiRange */

#timeline_editor{
	padding-top: 20px;
	width: 95%; 
}

/* Wygląd MultiRange */
.range {
    position: relative;
    width: 90%; 
    display:table; 
    margin:auto;
}
.range:before {
    content : ' ';
    vertical-align: middle;
    display: inline-block;
    height : 11px;
    width:100%;
    margin-top: -4px;
    background: url("/images/template/Player/editPlayerSliderBackground.png");
    background-repeat: repeat-x;
    
}


/*sliderek na rangu */
.range > .slider,
.range > .slider:before,
.range > .slider:after {
    background: url("/images/template/Player/sliderBar.png");
    width: 27px;
    height: 46px;
    white-space:nowrap;
}

.range > .slider {
    height: 24px;
    border-bottom: none;
    position: absolute;
    top: 8px;
    width: 14px;
}

/*wyglad ranga oznaczajacego poczatek i koniec filmu*/
.range > .MovieTimes{
	background: url("/images/template/Player/sliderBarBeginEnd.png");
	border-radius: 50%;
    color:white;
    white-space:nowrap;
    cursor: pointer;
}

/*Wyglad listy slajdow w edytorze*/
.lista {
      position:absolute;
      top: 0px;
}

    
.textboxPlay{
	font-weight:bold;
	display:inline-block;
	margin:auto;
}

.secondElementTime{
	padding-left: 100px;
}

.textboxWindows{
	border-style: none;
	width: 20px;
	background-color:rgba(255,255,255,0.01);
	color:white;
}

.texboxup{
	position:relative;
	bottom:8px;
}

.textboxWindows2{
	border-style: none;
	width: 20px;
	background-color:rgba(255,255,255,0.01);
	color:black;
}

/*Wyglad odtwarzacza pokazu slajdów do łapania nowych */
#AddNewSlide{
	border: 0px;
	background-color: #A0A8AB;
	display:table;
	 margin:auto;
	 padding 10px;
}

/* Wygląd przycisku zapisu zmian w edytorze */
#Zapisz_edycje{
	display:table;
	 margin:auto;
	 margin-top: 30px;
}

/* Wygląd wykakującego okienka przed zapisem*/
.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000000;
    opacity:0.8;
    display:block;
    z-index:1001;
}
.overlay-message{
    position:absolute;
    top:0px;
    left:0px;
    width:300px;
    height:100px;
    background-color:#808080;
    border:1px solid #000;
    opacity:1;
    z-index:1002;
    box-sizing:border-box;
    padding-left:2px;
}

/*Wyglad smietnika do wyrzucania slajdow*/
#smietnik{
	opacity:0;
	border-radius: 10px;
	border: 1px solid red; 
	width: 100%; 
	height: 100px; 
	position: relative;
	background:	#D1B2FF;
}

#kosz{
	width:30px;
	height:40px;
	display:table;
	margin: auto;
	padding-top: 30px;
}
