

/*przesuwanie sliderow na rangu */

.draggable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position: absolute;
    cursor: pointer;
}


/*ukrywanie i pokazywanie slajdów i czasów lub identyfikatorów sliderów odpowiedzialnych za ramy czasu*/
.slider div{
	background:#212F35;
	visibility:hidden;
	position:relative;
    right:65px;
    top:30px;
    display:block;
    margin:auto;
    text-align:center
}
.slider:hover div{
    visibility:visible
}

/*Szczególy wyglądu okienka po najechaniu na slider*/
.slider .underSlider{
	width:150px;
	height:100px;
}
.slider .underSliderTime{
	width:150px;
	height:65px;
}

.slider div img{
   padding-top:5px;
}

.slider .timeSlider{
	position:relative;
	bottom: 15px;
}

/*wyglad okienka pod multirangem edytora*/
.windows{
	width: 100%;
	height: 310px;
	background:#99BBDD;
	margin:0px auto;
	overflow:hidden;
	position: relative;
	
}
.slajd{
	margin: 20px;
	list-style: none;
}

.obrazek_windows{
	position:relative;
	top:30px;
	
}
.windows_div{
	position:relative;
	bottom:30px;
}
.windows_element{
	margin-left: 100px;
}

/* Tło MultiRange */

#timeline_editor{
	background: #333; 
	width: 94.7%; 
	padding: 30px;
}

/* Wygląd MultiRange */
.range {
    position: relative;
    width: 80%; 
    display:table; 
    margin:auto;
}
.range:before {
    content : ' ';
    vertical-align: middle;
    display: inline-block;
    height : 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e9e9e9;
    margin-top: -4px;
    background:#99BBDD;
}


/*sliderek na rangu */
.range > .slider,
.range > .slider:before,
.range > .slider:after {
    background-color:#DE2A10;
    border-radius: 50%;
    color:white;
    white-space:nowrap;
}

.range > .slider {
    height: 30px;
    border-bottom: none;
    position: absolute;
    top: 1px;
    width: 10px;
}

/*wyglad ranga oznaczajacego poczatek i koniec filmu*/
.range > .MovieTime{
	background-color: blue;
	border-radius: 50%;
    color:white;
    white-space:nowrap;
    cursor: pointer;
}

/*Wyglad listy slajdow w edytorze*/
.lista {
      position:absolute;
      top: 0px;
}

    
/*przycisk do przewijania listy w edytorze w zakładce slajdy */
.up {
	margin-left: 90%;
	margin-bottom: 2%;
	background:#FFF;
}
.down {
	margin-left: 90%;
	margin-top: 2%;
	background:#FFF;
}

.textboxWindows{
	width: 20px;
	background:#00B2E8;

}

/*Wyglad odtwarzacza pokazu slajdów do łapania nowych */
#AddNewSlide{
	border: 0px;
	background-color: #A0A8AB;
	display:table;
	 margin:auto;
	 padding 10px;
	 
	
}

/* Wygląd przycisku zapisu zmian w edytorze */
#Zapisz_edycje{
	display:table;
	 margin:auto;
}

/* Wygląd wykakującego okienka przed zapisem*/
.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000000;
    opacity:0.8;
    display:block;
    z-index:1001;
}
.overlay-message{
    position: fixed;
    top:0px;
    left:0px;
    width:300px;
    height:100px;
    background-color:#808080;
    border:1px solid #000;
    opacity:1;
    z-index:1002;
    box-sizing:border-box;
    padding-left:2px;
}
