section > b {
	float:left;
	margin-top:10px;
	margin-left:10px;
}
section > #tab-1 > b {
	float:left;
	margin-top:10px;
	margin-left:10px;
}
section > input {
	margin-top:10px;
	text-align:left;
	border-style:none;
	background:#FFF;
	padding-left:5px;
}
section > input:focus {
	-moz-box-shadow: 0 0 3px 3px #1F96FF;
	-webkit-box-shadow: 0 0 3px 3px #1F96FF;
	box-shadow: 0 0 3px 3px #1F96FF;
	color: #999;
}
#login {
	border-radius: 5px;
	width:300px;
	height:30px;
	float:right;
	margin-right:62%;
	
	
} 

#haslo1 {
	border-radius: 5px;
	width:300px;
	height:30px;
	float:right;
	margin-right:62%;
	border-style:none;
	
} 
#haslo2 {
	border-radius: 5px;
	width:300px;
	height:30px;
	float:right;
	margin-right:62%;
	border-style:none;	
} 
#email1 {
	border-radius: 5px;
	width:300px;
	height:30px;
	float:right;
	margin-right:62%;
	border-style:none;
} 
#email2 {
	border-radius: 5px;
	width:300px;
	height:30px;
	float:right;
	margin-right:62%;
	border-style:none;
} 
#imie {
	border-radius: 5px;
	width:300px;
	height:30px;
	float:right;
	margin-right:62%;
	border-style:none;
}
#nazwisko {
	border-radius: 5px;
	width:300px;
	height:30px;
	float:right;
	margin-right:62%;
	border-style:none;
} 

section > p {
	font-family:Lato, Arial, sans-serif;
	font-size:36px;
	padding-bottom:10px;
}
section > p.dane {
	margin-left:30px;
	text-align:left;
	font-size:18px;
	padding-bottom:20px;
	
}
section > #tab-1 > p.naglowek {
	padding-top:50px;
	text-align:center;
	font-size:24px;
}


section > hr {
	color:#00F;
	width:90%;
	margin: 0 auto;
	
}

section > p {
	margin-left:30px;
	text-align:left;
	font-size:18px;
	padding-bottom:20px;
}
section > #tab-1 > p {
	margin-left:30px;
	text-align:left;
	font-size:18px;
	padding-bottom:20px;
}
section > hr {
	color: #1851FF;
	width:90%;
	margin: 0 auto;
}
section > #tab-1 > form > hr {
	color: #1851FF;
	width:90%;
	margin: 0 auto;
}
#rejestruj_button {
	margin-bottom: 20px;
	background: #1851FF;
	color:#FFF;
	/*outline-style:none;	*/
	width:100px;
	margin-left: 45%;
	height:30px;
	text-align:center;
	border-radius: 5px;
	cursor:pointer;
	border-style:none;
}
#rejestruj_button:hover {
	background: #0092E8;
	color: #FFF;
}

