	.slider {
        width:99%;
    	margin-left:0.5%;
		margin-right:0.5%;
		margin-top:1%;
        overflow:hidden;
        clear:both;

		
    }
 
/* przyciski do przesowania */
    .slider .prev, .slider .next {
        width:36px;
        height:36px;
        float:left;
        background:#849599;
        -moz-border-radius:100%;
        -webkit-border-radius:100%;
        border-radius:100%;
        margin:5px;
     	border-style:none;
		margin-top:8%;
		
		
    }
	.slider .next {
        float:right;
        background-image: url("/images/icons/next.jpg");
        background-position: -8px -8px;
        border: none;
        
    }
	.slider .prev {
        float:left;
		background-image: url("/images/icons/prev.jpg");
		background-position: -6px -6px;
		border: none;		
        
    }
 	.slider .prev:hover, .slider .next:hover {
	 box-shadow: 0px 0px 3px 3px #1F96FF;
	}
/* wrapper */
    .slider .wyniki {
        width:87%;
		margin-left:0.8%;
        min-height:220px;
        position:relative;
        overflow:hidden;
       
        float:left;
      
    }
 
/* lista */
    .slider .lista {
        margin:0;
        padding:0;
        list-style-type:none;
       
        overflow:hidden;
        position:absolute;
        width:500%;
    }
 
    .slider .lista li {
        float:left;
		
		text-align:center;
        width:3.1%;
        height:210px;
        background: #F7F7F7;
        border:1px solid #C0C0C0;
        margin: 5px;
    }
 	.slider .lista li a {
		text-decoration:none;
		color: gray;
	}
	
	.slider .lista li div {
		padding-top:3px;
	}
	
	#title_video_slider {
		font-size: 20px;
		margin-bottom:-3px;
		padding-bottom: 0px;
		display:block;
		color: #474F51;
	}
	
	  #zdjecie_slider {
    	
    	width:98%;
    	margin-left:1%;
    	height:100%;
    	display: block;
    	
    	
    	
    }
    
    #tytul_slider {
    	
    	margin: 0;
    	display:block;
    }
   	#autor_slider { 
   		margin-bottom: -3px;;
   	}
    
	
