ul.bookmarks
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
		color: black;
} 
ul.bookmarks li {
	float: left;
}
ul.bookmarks li a {
	display:block;
	width: 148px;
	height: 41px;
	background: url("/images/template/bookmark.png");
	margin-left: 15px;
	text-decoration: none;	
  	font-size: 13px;
  	font-family: "Cambria";
  	font-weight: bold;

}
ul.bookmarks li a:hover, ul.bookmarks li a:active {
	background-position: bottom;
}

ul.bookmarks li.active a{
		display:block;
	width: 148px;
	height: 41px;
	background: url("/images/template/bookmark.png");
	margin-left: 15px;
	text-decoration: none;	
  	font-size: 13px;
  	font-family: "Cambria";
  	font-weight: bold;
	background-position: bottom;
}

ul.bookmarks li a p {
	width: 100%;
	height: 95%;
	padding-top: 3%;
	text-align: center;
  	color: rgb( 158, 158, 158 );
}

ul.bookmarks li a p:hover, ul.bookmarks li a p:active {
	 color: rgb( 120, 120, 120 );
}
